.pros {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    @include respond-to("sm") {
      flex-direction: column;
    }
  }

  &__card {
    align-items: flex-start;
    background-color: $gray-900;
    border: 1px solid rgba($white, 0.25);
    border-radius: 1rem;
    color: $white;
    display: flex;
    flex: 1 1 13.5rem;
    flex-direction: column;
    gap: 1.25rem;
    @include respond-to("sm", $type: "min") {
      max-width: 14.5rem;
    }
    min-height: 12.5rem;
    padding: 1.25rem;
    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;

    @include respond-to("sm") {
      height: 3.5rem;
      width: 3.5rem;
    }

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &__separator {
    background-color: $white;
    height: 0.125rem;
    opacity: 0.5;
    width: 20%;
  }

  &__text {
    font-size: 1.25rem;
    @include respond-to("sm") {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__button {
    margin-top: 1rem;
  }
}
