// Fonts
$primary-font: "Raleway", Helvetica, sans-serif;

// Colors
$black: #000;
$gray-950: #0e0c0d;
$gray-900: #171717;
$gray-100: #ededed;
$white: #fff;

$green-600: #50ce5e;

// Folders Path
$base-path: "../../assets";
$image-path: "#{$base-path}/images";
$icon-path: "#{$base-path}/icons";
$background-path: "#{$base-path}/backgrounds";
